@page
@model ListModel
@{
    // give the user ability to search
}

<h1> Restaurants List </h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" name="searchTerm" class="form-control" value="" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    Search
                </button>
            </span>

        </div>
    </div>
</form>

<table class="table table-hover">
    @foreach (var resturant in Model.ResturantsField)
    {

        <tr>
            <td>@resturant.Name</td>
            <td>@resturant.Location</td>
            <td>@resturant.Cuisine</td>
            <td>

                <a class="btn btn-outline-info" href="./Detail/@resturant.Id">
                    See Details
                </a>
                <a class="btn btn-outline-danger" href="./Edit/@resturant.Id">
                    Edit
                </a>

            </td>

        </tr>
    }
</table>

<!-- we use the Edit page differently to make a create page-->
<a class="btn btn-lg btn btn-success" href="./Edit">
    Create Restaurant
</a>
