@page
@model ListModel
@{
}

<h1> Restaurants List </h1>

<table class="table table-hover">
    @foreach(var resturant in Model.ResturantsField){
    
        <tr> 
            <td>@resturant.Name</td>
            <td>@resturant.Location</td>
            <td>@resturant.Cuisine</td>
        
        </tr>
    }
    </table>
    
